{% extends 'base.html' %}

{% block menu %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/account.css') }}">
<header class="header">
    <div class="logo">
        <img src="{{ url_for('static', filename='img/logo.png') }}" alt="logo">
    </div>
    <ul class="Main_menu">
        <li><a href="{{ url_for('main.index') }}"><p>Main page</p></a></li>
        {% if current_user.is_authenticated %}
            <li><a href="#"><p>Tasks</p></a></li>
            <li><a href="/account"><p>Account</p></a></li>
            <li><a href="/tasks/create"><p>Add task</p></a></li>
            <li><a href="{{ url_for('main.logout') }}"><p>Logout</p></a></li>
            <li><a href="{{ url_for('main.index') }}"><p>Home</p></a></li>
        {% else %}
            <li><a href="{{ url_for('main.login') }}"><p>Login</p></a></li>
            <li><a href="{{ url_for('main.register') }}"><p>Register</p></a></li>
        {% endif %}
        {% if current_user.is_authenticated %}
            <li><a href="/account"><p>{{ current_user.username }}</p></a></li>
        {% endif %}
    </ul>
</header>
{% endblock menu %}

{% block content %}
    {% if current_user.is_authenticated %}
        <div class="content payday2-style">
            <h1>Hello, {{ current_user.username }}</h1>
            <h2>Last seen: {{ current_user.last_seen }}</h2>
            <p>Your email is: {{ current_user.email }}</p>
        </div>
    {% else %}
        <div class="content">
            <p>Please log in to access your account.</p>
        </div>
    {% endif %}
{% endblock content %}

{% block footer %}
<footer class="footer">Task-Manager made by Simon Golovinskiy<br></footer>
{% endblock footer %}
