<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Admin Panel</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='/styles/admin.css') }}">
</head>
<body>
    <div class="container">
        <h1>Admin Panel</h1>

        <h2>Assign Admin</h2>
        <div class="form-container">
            {% if current_user.is_authenticated %}
            {% for user in users %}
            {% if not user.is_admin %}
            <form method="POST" action="{{ url_for('main.assign_admin', user_id=user.id) }}">
                <button type="submit" class="btn btn-primary btn-assign">Assign {{ user.username }} as Admin</button>
            </form>
            {% endif %}

            {% endfor %}
            {% endif %}
        </div>

        <h2>All Users</h2>
        <ul class="user-list">
            {% for user in users %}
            {% if not user.is_admin %}
                <li>{{ user.username }}</li>
            {% endif %}

            {% endfor %}
        </ul>
    </div>
</body>
</html>
