<!DOCTYPE html>
<html lang="ru">
<head>

    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='/styles/style.css') }}">

    {% block title %}
        {% if title %}
            <title>{{title}}</title>
            {% else %}
            <title>Task-manager</title>
        {% endif %}
    {% endblock title %}

</head>
<body>

<div class="wrapper">

{% block menu %}

    <header class="header">

        <div class="logo">
            <img src="{{ url_for('static', filename='img/logo.png') }}" alt="logo">
        </div>

        <ul class="Main_menu">
            <li><a href="{{ url_for('main.index') }}"><p>Main page</p></a></li>
            {% if current_user.is_authenticated %}
            <li><a href="#"><p>Tasks</p></a></li>
            <li><a href="#"><p>Add task</p></a></li>
            <li><a href="/account"><p>Account</p></a></li>
            {% else %}
            <li><a href="{{ url_for('main.register') }}"><p>Registration</p></a></li>
            <li><a href="{{ url_for('main.login') }}"><p>Login</p></a></li>
            {% endif %}
            {% if current_user.is_authenticated %}
            <li><a href="{{ url_for('main.logout') }}"><p>Logout</p></a></li>
            {% endif %}
            <li><a href="{{ url_for('main.index') }}"><p>Exit</p></a></li>
        </ul>
    </header>
{% endblock menu %}

{% block content %}


{% endblock content %}

{% block main_page %}

    <div class="content">
    This is a Task-manager, inspired by JIRA 2.0
    </div>
{% endblock main_page %}

{% block footer %}
    <footer class="footer">Task-Manager made by Simon Golovinskiy<br>
    </footer>
{% endblock footer %}

</div>
</body>
</html>