*{

margin: 0;
padding: 0;

}

html, body{

    height: 100%;

}

.logo img{

    float: left;
    margin:left;
    width: 200px;
}

.header{

    height: 100px;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);

}

.Main_menu{

    display: flex;
    justify-content: flex-end;
    padding-right: 60px;

}

.Main_menu a{

    text-decoration: none;
    color: #008B8B;
    font-weight: 700;

}

.Main_menu li{

    list-style: none;
    margin-right: 15px;
    width: 140px;
    outline: 3px #6495ED solid;
    margin-top: 1%;
    box-shadow: 10px 10px 10px aqua;
    font-family: monospace;
    border-radius: 100px;
    text-align: center;

}

.Main_menu li:hover{

    transition-duration: 1s;
    box-shadow: 4px 5px 50px grey;

}

.Main_menu p{

font-size: 19px;

}

.wrapper{

    display: flex;
    flex-direction: column;
    height: 100%;

}

.empty_block{

    height: 75px;

}
.content{

    width: 60%;
    margin: 100px auto 0;
    flex: 1 0 auto;

}

.info{

    display:flex;
    margin: 80px auto 0;
    width: 80%;
    box-shadow: -5px 15px 10px skyblue;
    align-items: center;
    border-radius: 200px;
    font-family: monospace;
    border: 1px skyblue solid;


}

.description{

font-size: 25px;
margin: 0 auto;
text-align: right;

}

.names{

    box-shadow: -5px 15px 10px skyblue;
    border-radius: 200px;
    padding: 10px 20px;
    letter-spacing: 1px;
    color: #8B008B;
    margin-bottom: 25px;
    border: 1px dodgerblue solid;
    font-size: 40px;

}

.desc{

    width: 100%;
    font-width: 600;
    color: dodgerblue;
    margin: 0 auto;
    text-align: center;
    box-shadow: 0px 0px 0px skyblue;
    border-radius: 200px;

}

.desc li{

    margin-bottom: 10px;
    font-style: normal;
    box-shadow: -5px 15px 10px skyblue;
    font-size: 25px;
    padding: 5px;
    font-family: monospace;
    border-radius: 200px;
    letter-spacing: 2px;

}

ul.checkmark li:before{

    content: '\1F420';
    color: skyblue;

}

ul a {

    text-decoration: none;
    color: #4B0082;

}

.checkmark li:hover{

    transition-duration: 0.5s;
    box-shadow: 0px 12px 10px orange;

}

.checkmark li{

list-style: none;

}

.footer{

    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(63,94,251);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    font-size: 25px;
    font-family: monospace;
    flex: 0 0 auto
    width: 100%;
    height: 44px;

}